@import url('https://fonts.googleapis.coim/css2?family=Quicksand:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

*, html, body {
	margin: 0;
	padding: 0;
	font-family: 'Quicksand', sans-serif;
	background-color: white;
	box-sizing: border-box;
}

.container-satu {
	min-width: 100%;
	display: flex;
	flex-direction: column;
	background-color: white;
	border-bottom: 0.5px solid black;
	box-shadow: 0 2px 3px -2px gray;
	display: inline;
}

.wrapper {
	display: flex;
	justify-content: space-between;
	padding: 20px;
	width: 100%;
	align-items: center;
	box-sizing: border-box;
	position: sticky;
    top: 0;
	box-shadow: 0 2px 3px -2px gray;
}


.brand {
	font-size: 20px;
	font-weight: 700;
}

.brand h1 {
	font-family: 'Roboto', sans-serif;
}

.navigation {
	display: flex;
	justify-content: center;
	align-items: center;
}

.navigation > li {
	list-style-type: none;
	padding: 10px;
	box-sizing: border-box;
}

.navigation li a img {
	width: 35px;
	padding-right: 10px;
}

.container-dua {
	margin: 20px auto;
	display: flex;
	justify-content: center;
	flex-direction: wrap;
	padding: 10px;
}

.card {
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.4);
	width: 1000px;
	margin: 20px auto;
	padding: 10px;
	border-radius: 5px;
}

/* Style untuk Judul Artikel */
.judul {
	order: 2;
	flex: 1;
	text-align: left;
	margin-left: 20px;
	font-size: 20px;
}

.thumbnail {
	order: 1;
	flex: 1;
	text-align: center;
	margin-left: 20px;
}

.thumbnail img {
	width: 500px;
}

/* Style Untuk Keterangan Author dan Waktu */
.keterangan {
	display: flex;
	flex-direction: wrap;
	padding: 1px;
	font-size: 12px;
	text-align: left;
	margin: 2px auto;
	margin-left: 2px; 
}

.time {
	display: flex;
	flex: 1;
	margin-left: 10px;
}

.time img {
	width: 13px;
	box-sizing: border-box;
	margin-right: 6px;
}

/* Untuk style content */
.content {
	display: flex;
	flex-direction: column;
	width: 750px;
	justify-content: center;
	margin: 35px auto;
	margin-top: 10px;
}

.isi {
	text-align: left;
	margin-bottom: 10px;
}

/* Style untuk Note */
.note {
	margin-top: 10px;
	margin-bottom: 10px;
}

.note p {
	font-weight: bold;
	padding: 10px;
	border-left: 3px solid black;
}

/* Untuk Style Source Code */
.code{
	display: flex;;
	margin: 0 auto;
	width: 750px;
	overflow: scroll;
}

.code pre {
	flex: 1;
	text-align: left;
	background-color: #F0F0F0;
	color: black;
	margin: 0;
	font-family: 'Source Code Pro', monospace;
	font-size: 12px;
	padding: 10px;
	box-sizing: border-box;
	overflow-x: auto;
}

/* Untuk menu kembali */
.back p a {
	text-decoration: none;
}

.back p a:hover {
	font-weight: bold;
	transition-delay: 0.01s;
	text-decoration: none;
}

.back {
	margin-top: 10px;
	flex: 1;
	text-align: center;
}

.next-previous a {
	text-decoration: none;
}

/* Responsive Mobile*/

@media screen and (max-width: 800px) {
	.brand {
		font-size: 15px;
		font-weight: 700;
	}

	.navigation li a img {
		width: 25px;
		padding-right: 5px;
	}
	
	.card {
		width: 96%;
		margin-bottom: 8px;
	}
	
	.container-dua {
		display:flex;
		flex-direction: column;
		justify-content: center;
		margin-bottom: 10px;
	}

	.thumbnail img {
		width: 100%;
		margin: 0 auto;
	}

	.thumbnail {
		margin: 5px;
	}

	.content {
		width: 100%;
	}

	.note {
		margin: 5px;
		margin-left: 20px;
	}

	.isi {
		padding: 10px;
		margin: 10px;
		margin-bottom: 5px;
		box-sizing: border-box;
	}

	.judul {
		font-size: 15px;
		margin: 5px;
	}

	.code {
		margin-top: 10px;
		margin-bottom: 10px;
		width: 90%;
	}

}
